<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!--optional css-->
    <style>
      body {
        width: 500px;
        margin: auto;
      }
      img {
        border-radius: 10px;
        margin: 50px 0;
      }
      span {
        font-size: 22px;
      }
      button {
        margin: 30px 0;
      }
      .order {
        display: flex;
        justify-content: space-evenly;
      }
      .title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;
      }
      #rate {
        color: blue;
        font-size: 18px;
      }
    </style>
    <script>
      $(document).ready(function () {
        rate();
        showOrder();
      });

      function rate(response) {
        $.ajax({
          type: "GET",
          url: "http://spartacodingclub.shop/sparta_api/rate",
          data: {},
          success: function (response) {
            let rate = response["rate"];
            $("#rate").append(`달러-원 환율 : ${rate}`);
          },
        });
      }

      function order() {
        let name = $('#input_name').val()
        let number = $('#inputGroupSelect01 option:selected').val()
        let address = $('#input_address').val()
        let phone = $('#input_phone').val()

        $.ajax({
          type:"POST",
          url: "/order",
          data:{name_give:name, number_give:number, address_give:address, phone_give:phone},
          success: function (response) {
            alert(response["msg"]);
            window.location.reload()
          }
        })
      }

      function showOrder() {
        $.ajax({
          type:"GET",
          url: "/order",
          data:{},
          success: function (response) {
            let orders = response['all_orders']
            for (let i = 0; i < orders.length; i++) {
              let name = orders[i]['name']
              let number = orders[i]['number']
              let address = orders[i]['address']
              let phone = orders[i]['phone']

              let temp_html = `<tr>
                                   <td>${name}</td>
                                   <td>${number}</td>
                                   <td>${address}</td>
                                   <td>${phone}</td>
                               </tr>`

              $('#buyer-list').append(temp_html)
            }
          }
        })
      }

    </script>
    <title>스파르타코딩클럽 | 부트스트랩 연습하기</title>
  </head>

  <body>
    <img
      src="https://ww.namu.la/s/b7703effb5e0ee4023cf5c212bc3c16097212d43f13fc3ea30148e620109b390b03be2dc16d39037d560480e10039c6033daa69526f08e7da5bcabb85c21f66cee5b99e5caa1d1b3a519340b0ba99191"
    />
    <div class="title">
      <h1>멋진 배를 팝니다</h1>
      <span>가격:5000억/척</span>
    </div>
    <p>이 배는 99일간의 항해동안 안전하게 당신을 호위해 줄 것입니다.</p>

    <div>
      <span id="rate"></span>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">주문자 이름</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
        id="input_name"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">수량</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose the number</option>
        <option value="1">1척</option>
        <option value="2">2척</option>
        <option value="3">3척</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">주소</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Address"
        aria-label="Username"
        aria-describedby="basic-addon1"
        id="input_address"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">전화번호</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Phone number"
        aria-label="Username"
        aria-describedby="basic-addon1"
        id="input_phone"
      />
    </div>
    <div class="order">
      <button
        type="button"
        class="btn btn-primary"
        onclick=order()
      >
        주문하기
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">이름</th>
          <th scope="col">수량</th>
          <th scope="col">주소</th>
          <th scope="col">전화번호</th>
        </tr>
      </thead>
      <tbody id = "buyer-list">
      </tbody>
    </table>
  </body>
</html>